@media (min-width: 1024px) {
    .navbar {
        padding: 0 96px;
       
    }

    .section {
        position: relative;
        padding: 0 96px;
      }
      
      .intro {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Special Elite', cursive;
        font-size: 3em;
        overflow: hidden;
      }

      .intro-info {
        width: 50%;
      }

      .grid {
        height: 78vh;
      }
      
      .row {
        height: 38vh;
        display: flex;
        justify-content: space-between;
      }

      
.item-row {
    padding: 2rem 2rem 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: calc(100% - 1em);
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
  }

  .item-row-1 {
    width: calc(50% - 0.5em);
  }
  
  .item-row-2 {
    width: calc(33.3% - 0.5em);
  }

  .container {
    
    padding: 0 96px;

  }
  
  .about-me p {
    
    width: 70%;
  }
}