@media (min-width: 1280px) {
    .navbar {
        padding: 0 96px;
       
    }

    .section {
        position: relative;
        padding: 0 96px;
      }
      
      .intro {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Special Elite', cursive;
        font-size: 3em;
        overflow: hidden;
      }

      .intro-info {
        width: 50%;
      }
}