@media (min-width: 500px) {
    .navigation-links {
        display: flex;
        align-items: center;
    }
    .drop-down {
        display: none;
    }

    .dropdown-menu {
        display: none;
    }

    .hero-span {
        right: 15%;
    }

    .item-row {
       
     
        height: 50vh;
        
      }
    
}