@media (min-width: 675px) {
  .navigation-links {
    display: flex;
    align-items: center;
  }

  .drop-down {
    display: none;
  }

  .dropdown-menu {
    display: none;
  }

  .hero-span {
    right: 15%;
  }

  .item-row {
    height: 50vh;
  }

  .about-section {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .about-section > div {
    width: 50%;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .about-me p {
    margin: 2em 0;
    width: 85%;
  }

  .about {
    display: flex;
    align-items: center;
  }

  .about-attributes {
    padding: 0 2em;
  }

  .info-form {
    flex-direction: row;
    justify-content: space-between;
  }

  .info-form input {
    width: calc(46% - 1em);
    margin: 0;
  }

  .footer-links {
    flex-direction: row;
    justify-content: space-between;
  }
}
