html {
    
   
}
.body {
    height: 100vh;
    overflow-x: hidden;
   
}
.header {
    height: 10%;
    position: fixed;
    width: 100%;
}
.navbar {
    border: 1px solid black;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 96px;
   
}
.brand {
    border: 1px solid black;
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 2em;
}
.navigation-links {
    border: 1px solid black;
    display: flex;
    align-items: center;

}
.navigation-links li {
    padding: 0 1em;
    font-size: 1.2em;
}

.main {
    min-height: 90%;
    border: 1px solid green;
    position: relative;
    top: 10%;
    z-index: -1;
   
}

.section {
    position: relative;
    padding: 0 96px;

}

.intro {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    border: 1px solid red;
    font-size: 3em;

}

.intro-info {
    border: 1px solid black;
    
}

.social-links {
    position: absolute;
    bottom: 2em;
    display: flex;
    font-size: 0.65em;
}
.social-networks {
    padding-left: 1em;;
    display: flex;
}
.social-link {
    padding: 0 5px;
}

.background-logo-container {
    position: absolute;
    width: 100%;
    z-index: -1;

}

.background-logo {
    transform: rotate(180deg);
    position: absolute;
    right: -30%;
}

.main-logo {
    border: 1px solid black;
    transform: rotate(-180deg);
    position: absolute;
    right: -500px;
}

.featured-work {
    border: 5px solid green;
    padding-top: 12vh;
}

.featured-work-title {
    height: 10vh;
    border: 1px solid black;
    font-size: 3em;
}

.grid {
    height: 78vh;
}

.row {
    height: 38vh;
    display: flex;
    justify-content: space-between;

}

.item-row {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: calc(100% - 1em);
}

.item-row {
    background-image: url(../images/mockups/defult.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.project-title {
    padding-right: 1em;
    font-size: 1.5em;
    margin-bottom: .8em;
    position: relative;
    z-index: 1;
}
.project-title::before {
    content: '';
    left: -2rem;
    top: -0.25rem;
    bottom: -0.25rem;
    right: 0;
    background-color: red;
    position: absolute;
    z-index: -1;
    transform: scaleX(0.1);
    transform-origin: left;
    transition: transform 250ms ease-in-out;
}

.item-row:hover .project-title::before {
    transform: scaleX(1);
}

.built-item {
    padding: 2px 5px;
    color: transparent;
    
}

.item-row:hover .built-item {

}

.featured-first-row {
   
}
.item-row-1 {
    background-color: mistyrose;
    width: calc(50% - 0.5em);
 
}

.featured-second-row {
   
}

.item-row-2 {
  background-color: honeydew;
  width: calc(33.3% - 0.5em);
}

. footer {

}